@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-slide {
  display: inline-block;
  animation: slide 20s linear infinite;
}
